[Unit]
Description=Arma go client
After=syslog.target network.target

[Service]
User=arjun
Group=arjun
Environment=HOME=/home/arjun
Type=simple
ExecStart=/home/arjun/arma/arma-1.10.25-stable-mainnet/geth --networkid 2889 --datadir /home/arjun/arma/arma-1.10.25-stable-mainnet/data/arma --ipcdisable --syncmode full --gcmode archive --http --txlookuplimit 0 --allow-insecure-unlock --http.corsdomain "*" --http.port 8545 --keystore /home/arjun/arma/arma-1.10.25-stable-mainnet/data/keystore --unlock 0x36b2F284219A67905CD13Ab3EdA728422f8b02f1 --password /home/arjun/arma/arma-1.10.25-stable-mainnet/password.txt --miner.etherbase 0x36b2F284219A67905CD13Ab3EdA728422f8b02f1 --http.addr 0.0.0.0 --http.api "eth,web3,net,yantra,debug" --ws --ws.addr 0.0.0.0 --ws.api "eth,net,web3,yantra,debug" --ws.port 8546 --http.vhosts "*"


[Install]
WantedBy=multi-user.target